@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


#one::-webkit-scrollbar {
display: none;
}